@import url('./styles/ant.less');

body,
html {
    margin: 0;
    overflow: hidden;
}

.fes-layout-main {
    padding: 24px;
    position: relative;
    overflow: hidden;
    .public-template {
        width: 100%;
        height: calc(100% - 65px);
        overflow: auto;
    }
}
.public-footer-fix {
    position: absolute;
    padding: 12px 24px;
    text-align: right;
    bottom: 0;
    left: 0;
    width: calc(100% - 48px);
    margin: 0 24px;
    border-top: 1px solid #d7d7d7;
    button:not(:first-child) {
        margin-left: 40px;
    }
}

/** 滚动条 */
.phone-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
}
.phone-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.phone-scrollbar::-webkit-scrollbar-thumb:vertical {
    border-right: 4px solid rgba(255, 255, 255, 0);
    height: 50px;
    background-color: rgba(144, 147, 153, 0.5);
    background-clip: content-box;
    border-radius: 2px;
}
.phone-scrollbar::-webkit-scrollbar-thumb:horizontal {
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    width: 50px;
    background-color: rgba(144, 147, 153, 0.5);
    background-clip: content-box;
    border-radius: 2px;
}
.phone-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.phone-scrollbar::-webkit-scrollbar-button:end:increment,
.phone-scrollbar::-webkit-scrollbar-button:start:decrement {
    display: block;
    width: 0;
    height: 0;
    background-color: transparent;
}

/** 多列布局,个人默认4列 */
.public-multi-column {
    column-count: 4;
    column-gap: 0;
    .item {
        padding: 2px;
    }
}
/** 瀑布流布局，个人默认4列 */
.public-waterfall {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    .item {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        img {
            grid-row: 1 / -1;
            grid-column: 1;
        }
    }
}
.public-multi-column,
.public-waterfall {
    .item {
        position: relative;
        counter-increment: count;
        &::after {
            position: absolute;
            display: block;
            top: 2px;
            left: 2px;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            background-color: #000;
            color: #fff;
            content: counter(count);
        }
        img {
            max-width: 100%;
            display: block;
        }
    }
}

// 自定义间距
each(range(5, 50, 5), {
        .pb-@{value} {
            padding-bottom: (@value * 1px);
        }

        .pt-@{value} {
            padding-top: (@value * 1px);
        }

        .pl-@{value} {
            padding-left: (@value * 1px);
        }

        .pr-@{value} {
            padding-right: (@value * 1px);
        }

        .plr-@{value} {
            padding: 0 (@value * 1px);
        }

        .ptb-@{value} {
            padding: (@value * 1px) 0;
        }

        .mb-@{value} {
            margin-bottom: (@value * 1px);
        }

        .mt-@{value} {
            margin-top: (@value * 1px);
        }

        .ml-@{value} {
            margin-left: (@value * 1px);
        }

        .mr-@{value} {
            margin-right: (@value * 1px);
        }

        .mlr-@{value} {
            margin: 0 (@value * 1px);
        }

        .mtb-@{value} {
            margin: (@value * 1px) 0;
        }
    }
);
